*.trees filter=lfs diff=lfs merge=lfs -text
samogitia2_7.txt filter=lfs diff=lfs merge=lfs -text
samogitia.out.txt filter=lfs diff=lfs merge=lfs -text
samogitiat25.txt filter=lfs diff=lfs merge=lfs -text
samogitiat50.txt filter=lfs diff=lfs merge=lfs -text
samogitiat75.txt filter=lfs diff=lfs merge=lfs -text
samogitiat100.txt filter=lfs diff=lfs merge=lfs -text
samogitiat25.out.txt filter=lfs diff=lfs merge=lfs -text
samogitiat50.out.txt filter=lfs diff=lfs merge=lfs -text
samogitiat75.out.txt filter=lfs diff=lfs merge=lfs -text
samogitiat100.out.txt filter=lfs diff=lfs merge=lfs -text
samogitiat1_0.txt filter=lfs diff=lfs merge=lfs -text
samogitiat0_5.txt filter=lfs diff=lfs merge=lfs -text
*out.txt filter=lfs diff=lfs merge=lfs -text
*.out.txt filter=lfs diff=lfs merge=lfs -text
output/*.out.txt filter=lfs diff=lfs merge=lfs -text
